[Unit]
Description=Turn off keyboard backlight after a certain period of idleness
Documentation=https://github.com/Shadowbeetle/skbl

[Service]
ExecStart=/usr/bin/skbl
Restart=always

[Install]
WantedBy=multi-user.target

